body{
    background-color: rgb(189, 255, 255);
}

.header{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:rgb(159, 31, 114);
}

.card{
    color:rgb(177, 49, 132);
}