body{
    background-color: deepskyblue;

}

.container{
    border-style: solid;
    border-color: black;
    height: 100%;
    width: 100%;
}
.col-sm-3{
    border-style: solid;
    border-color: black;
}

.list-group{
    display: flex;
    background-color: deepskyblue;
}

.card{
    margin: 5px;
}